<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/css/theme-1.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
                <link rel="stylesheet" type="text/css" href="css/ie9.css" />
                <![endif]-->
        <script src="/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    </head>

    <body>
<div class="loader">
	<div class="spinner">
		  <div class="double-bounce1"></div>
		  <div class="double-bounce2"></div>
		</div>
</div>
<div class="nav-container">
 <nav class="centered-logo top-bar">
    <div class="container">
    	<div class="row">
    		<div class="col-sm-12 text-center">
    			<a href="/english">
    			<img class="logo logo-dark" alt="Logo" src="/img/logo_web.png">
    		</div>
    	</div>
    
    	<div class="row nav-menu">
    		<div class="col-sm-12 columns text-center">
    			<ul class="menu">
				<a></a>
    				{% for item in navigation %}
    				 <li><a href="{{ item.href }}" target="_self">{{ item.caption }}</a></li>
    				{% endfor %}
    			</ul>
    		</div>
    	</div>
    	
    	<div class="mobile-toggle">
    		<i class="icon icon_menu"></i>
    	</div>
    	
    </div>
    <div class="bottom-border"></div>
 </nav>
</div>		

		<div class="main-container">
		<section class="blog-list-3 bg-white">
			
				<div class="blog-snippet-3">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
								<h1>Fintra :  Page Not Found</h1>
								<p class="lead">
								Oopss !! We cannot found what you were looking for. 
								</p>
								<i class="icon icon_calendar"></i><span class="alt-font">13 May 2015</span><br>
							</div>
						</div>
					</div>	
				</div>
			</section>
		</div>

<div class="footer-container">
			<footer class="social bg-secondary-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="text-white">Feel free to contact us</h1>
							<a href="#" class="text-white"><strong>contact@fintra.co.in</strong></a><br>
							<ul class="social-icons">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_instagram"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_dribbble"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_tumblr"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_pinterest"></i>
									</a>
								</li>
							</ul><br>
							<span class="sub">© Copright 2017 Fintra Financial Services. All Rights Reserved. </span>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<script src="https://www.youtube.com/iframe_api"></script>
		<script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.plugin.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.flexslider-min.js"></script>
        <script src="/js/smooth-scroll.min.js"></script>
        <script src="/js/skrollr.min.js"></script>
        <script src="/js/spectragram.min.js"></script>
        <script src="/js/scrollReveal.min.js"></script>
        <script src="/js/isotope.min.js"></script>
        <script src="/js/twitterFetcher_v10_min.js"></script>
        <script src="/js/lightbox.min.js"></script>
        <script src="/js/jquery.countdown.min.js"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>
