<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{seo.seo_title}}</title>
    <meta name="description" content="{{seo.seo_description}}">
        <meta property="og:image" content="{{seo.image}}">
        <meta property="og:title" content="{{seo.seo_title}}">
        <meta property="og:description" content="{{seo.seo_description}}">
 	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@fintrasupport" />
	<meta name="twitter:title" content="{{seo.seo_title}}" />
	<meta name="twitter:description" content="{{seo.seo_description}}" />
	<meta name="twitter:image" content="{{seo.image}}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/home.styles.min.css?h=e685dde14d203663cd32a2e922f45faa">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-105771479-2"></script>
	<script>
 		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
  		gtag('config', 'UA-105771479-2');
	</script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="/{{language}}">Fintra</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/{{language}}/mutual-funds">Mutual Funds</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/{{language}}/stock-indices/nifty50">NIFTY 50</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/{{language}}/tools">Calculators</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div>
            <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/{{language}}/credit-cards"><span>Credit Cards</span></a></li>
			{% if issubtype == true %}
                        <li class="breadcrumb-item"><a href="/{{language}}/credit-cards-category/{{id}}"><span>{{title}} Credit Cards</span></a></li>
			{% endif %}
                        <li class="breadcrumb-item"><span>{{seo.title}}</span></li>
            </ol>
        </div>
    </div>
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
		{% if seo.image is defined and seo.image is not empty %}
		<img src="{{seo.image}}" style="height: 80px;" alt="{{seo.h1}}" />
		{% endif %}
                <h1 style="font-size:1.8rem;">{{seo.h1}}</h1>
                <p class="card-text">{{seo.data}}</p>
            </div>
        </div>
    </div>
   {% if pagetype == 'bank' and banksections == true %}
    <div class="article-list">
        <div class="container">
            <div style="margin-top: 20px;">
                <div class="row">
		  {% if subtype != 'customer-care' %}
                    <div class="col col-features" style="text-align: center;vertical-align: middle;">
                        <p class="feature-link"><a href="/{{language}}/credit-cards-category/{{id}}/customer-care">Customer Care</a></p>
                    </div>
		  {% endif %}
		  {% if subtype != 'redeem' %}
                    <div class="col col-features" style="text-align: center;vertical-align: middle;">
                        <p class="feature-link"><a href="/{{language}}/credit-cards-category/{{id}}/redeem">Redeem</a></p>
                    </div>
		  {% endif %}
		  {% if subtype != 'statement' %}
                    <div class="col col-features" style="text-align: center;vertical-align: middle;">
                        <p class="feature-link"><a href="/{{language}}/credit-cards-category/{{id}}/statement">Statement</a></p>
                    </div>
		  {% endif %}
                </div>
                <div class="row">
		  {% if subtype != 'bill-payment' %}
                    <div class="col col-features" style="text-align: center;vertical-align: middle;">
                        <p class="feature-link"><a href="/{{language}}/credit-cards-category/{{id}}/bill-payment">Bill Payment</a></p>
                    </div>
		  {% endif %}
		  {% if subtype != 'call' %}
                    <div class="col col-features" style="text-align: center;vertical-align: middle;">
                        <p class="feature-link"><a href="/{{language}}/credit-cards-category/{{id}}/call">Call/SMS</a></p>
                    </div>
		  {% endif %}
		  {% if subtype != 'reward-points' %}
                    <div class="col col-features" style="text-align: center;vertical-align: middle;">
                        <p class="feature-link"><a href="/{{language}}/credit-cards-category/{{id}}/reward-points">Rewards</a></p>
                    </div>
		  {% endif %}
                </div>
                <div class="row">
		  {% if subtype != 'faq' %}
                    <div class="col col-features" style="text-align: center;vertical-align: middle;">
                        <p class="feature-link"><a href="/{{language}}/credit-cards-category/{{id}}/faq">FAQs</a></p>
                    </div>
		  {% endif %}
		  {% if subtype != 'contact' %}
                    <div class="col col-features" style="text-align: center;vertical-align: middle;">
                        <p class="feature-link"><a href="/{{language}}/credit-cards-category/{{id}}/contact">Contact</a></p>
                    </div>
		  {% endif %}
		  {% if subtype != 'moratorium' %}
                    <div class="col col-features" style="text-align: center;vertical-align: middle;">
                        <p class="feature-link"><a href="/{{language}}/credit-cards-category/{{id}}/moratorium">Moratorium</a></p>
                    </div>
		  {% endif %}
                </div>
            </div>
        </div>
    </div>
   {% endif %}
   {% if issubtype != False %}
    <div class="card">
         <div class="card-body">
                <p class="card-text">{{data | raw}}</p>
	</div>
   </div>
   {% endif %}
   {% if issubtype == False %}
    <div class="article-list">
        <div class="container">
	{% for section in sections %}
            <div class="intro">
		{% if pagetype ==  'bank' and section.items|length > 0 %}
                	<h2 class="text-center">Top {{title}} {{section.heading}} Cards</h2>
   		{% endif %}
                <div class="row articles">
		{% for item in section.items %}
                    <div class="col-sm-6 col-md-4 item"><a href="{{item.url}}"><img class="img-fluid img-cc" src="{{item.image}}" alt="{{item.title}}"></a>
                        <a href="{{item.url}}"><h3 class="name">{{item.title}}</h3></a>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Rating</td>
                                        <td>
					{% for i in range(1,item.stars_full) %}
						<i class="fa fa-star shadow-lg" style="color: rgb(255,138,0);"></i>
    					{% endfor %}
					{% if item.stars_half > 0 %}
						<i class="fa fa-star-half shadow-lg" style="color: rgb(255,138,0);"></i>
    					{% endif %}

					{{item.rating}}/5</td>
                                    </tr>
                                    <tr>
                                        <td>Joining Fees</td>
                                        <td>&#8377;{{item.joining_fees_format}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
    		{% endfor %}
                </div>
    	 	{% endfor %}
    </div>
   {% endif %}
	 <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright ©Fintra 2020</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
