{% extends 'base.twig.html' %}
	{% block cssblock %}
		<link rel="stylesheet" href="https://images.fintra.co.in/dynamic2.css">
	{% endblock %}


	{% block contentblock %}
<br>
<br>
<br>
<br>
<center>
<!--
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdvJrWbuT3BVJFrgGXbmRHTSbXPywxqRr48CmNd_R8ypMiDHA/viewform?embedded=true"  height="1150" frameborder="0" marginheight="0" marginwidth="0" width="400">Loading…</iframe>
-->

<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "na1",
    portalId: "23599902",
    formId: "2cec25d9-b35d-4b28-971c-a349e0a7df70"
  });
</script>

<style>
.hbspt-form{
	margin-left:15px;
}
</style>
</center>
	 {% endblock %}

 
