{% extends 'base.twig.html' %}  
                        {% block mainnavblock %}
                        {% for item in navigation|slice(0,5) %}
                                <li class="nav-item"><a href="{{item.href}}" class="nav-link">{{item.caption}}</a></li>
                        {% endfor %}
                        {% endblock %}
        {% block cssblock %}
                <link rel="stylesheet" href="/css/custom/stock.css">
        {% endblock %}

{% block navblock %}
  <li class="nav-item" ><a  class="nav-link" href="/english{{relative_url}}">{{name}} - English</a></li>
{% endblock %}
        
{% block contentblock %}    

<div class="card">
        <div class="card-body">
            <h1 class="card-title">{{name}}</h1>
            <div class="row">
                <div class="col-12 text-center align-self-center">
                    <div class="subtitle">
                        <p class="text-left" data="4"> एनएवी (डायरेक्ट) :  {{direct_nav}} </p>
       {% if dropped > 0 %}
        <i class="fa fa-long-arrow-up align-content-end icon-class-up"></i>
      {% else %}
        <i class="fa fa-long-arrow-down align-content-end icon-class"></i>
      {% endif %}
      <span class="ltp-sbtext">({{direct_nav_prev}})</span>
       </div>
                    <div class="subtitle">
                        <p class="text-left" data="4"> एनएवी (रेगुलर) :  {{regular_nav}} </p>
       {% if dropped > 0 %}
        <i class="fa fa-long-arrow-up align-content-end icon-class-up"></i>
      {% else %}
        <i class="fa fa-long-arrow-down align-content-end icon-class"></i>
      {% endif %}
      <span class="ltp-sbtext">({{regular_nav_prev}})</span>
       </div>
                </div>
            </div>
            <h6 class="text-muted card-subtitle mb-2">{{primary_category}} - {{sub_category}}</h6>
      <span class="ltp-sbtext">Last Updated  on {{last_updated}}</span>
  </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">{{name}} की नेट एसेट वैल्यू अथवा एनएवी  पिछले दिन की एनएवी {{direct_nav_prev}} से  {% if dropped > 0 %} बढ़कर {% else %} गिरकर {% endif %}  {{direct_nav}} हुई </p>
        </div>
        <div class="card-body">
            <p class="card-text">{{name}} का पिछले 1 साल का रिटर्न {{direct_ret_1y}}% </p>
            <p class="card-text">{{name}} का पिछले 3 साल का रिटर्न {{direct_ret_3y}}% </p>
            <p class="card-text">{{name}} का पिछले 5 साल का रिटर्न {{direct_ret_5y}}% </p>
            <p class="card-text">{{name}} का लॉन्च से अब तक का रिटर्न  {{direct_ret_sl}}% </p>
        </div>
        <div class="card-body">
            <p class="card-text">{{name}} का एसेट अंडर मैनेजमेंट या AUM {{aum}} crores</p>
        </div>
        <div class="card-body">
            <p class="card-text">{{name}}  का १ साल का रिटर्न {{direct_ret_1y}},  {{benchmark}} का १ साल का रिटर्न {{benchmark_ret_1y}}</p>
        </div>
    </div>
    </div>
	{% embed "similar.stocks.twig.html" %}
	{% endembed %}
{% endblock %}
