<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "BlogPosting",
"mainEntityOfPage":{
"@type":"WebPage",
"@id" : "{{id}}"
},
"headline": "{{title}}",
"image": {
"@type": "ImageObject",
"url": "{{featured_image}}"
},
"datePublished": "{{created1}}",
"dateModified": "{{created1}}",
"author": {
"@type": "Person",
"name": "Fintra"
},
"publisher": {
"@type": "Organization",
"name": "Fintra",
"logo": {
"@type": "ImageObject",
"url": "https://images.fintra.co.in/cms/small_logo.jpg"
}
},
"description": "{{seo_description}}"
}
</script>
