
<div class="container visit">
	  	<h3>{{heading1}}</h3><!-- /////place some heading//// -->
 		<div class="d-flex flex-row flex-wrap">
		{% for item in similar1 %}
 			<div class="card card-block col-lg-4 col-md-6 col-sm-12">
 				<div class="card-body">
					<h6> <a href="{{item.compare_url}}">  {{item.company_name}} </a></h6>
					<h6> Volume: {{item.volume}} </h6>
					<h6> Last Price Change:  {{item.pChange}}%</h6>
 				</div>
 			</div>
		{% endfor %}
 		</div>
 </div>	 

<div class="container visit">
                <h3>{{heading2}}</h3><!-- /////place some heading//// -->
                <div class="d-flex flex-row flex-wrap">
                {% for item in similar2 %}
                        <div class="card card-block col-lg-4 col-md-6 col-sm-12">
                                <div class="card-body">
					<h6> <a href="{{item.compare_url}}">  {{item.company_name}} </a></h6>
					<h6> Volume: {{item.volume}} </h6>
					<h6> Last Price Change:  {{item.pChange}}%</h6>
                                </div>
                        </div>
                {% endfor %}
                </div>
 </div> 
