{% set title = 'Recommended' %}


<div class="container visit">
                        <h3>{{title}}</h3><!-- /////place some heading//// -->
                <div class="d-flex flex-row flex-wrap">
                {% for row in similar %}
                        <div class="card card-block col-lg-4 col-md-6 col-sm-12">
                                <img src="{{row.image}}" class="img-fluid" alt="{{row.title}}">
                                <div class="card-body">
                                           <h6> <a href="{{row.url}}">{{row.title}}</a></h6><!-- ////place title/// -->
                                </div>
                        </div>
                {% endfor %}
                </div>
 </div>
